@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  border: 10px solid black;
  box-sizing: border-box;
  background-color: #f6f6f6; /* Light gray background color */
}

.section {
  border: none;
  padding: 10px;
  margin-bottom: 30px; /* Increased margin-bottom for better separation */
  border-top: 1px solid black;
  background-color: #ffffff; /* White background color */
}

.section:first-child {
  border-top: none;
}

.section-header {
  font-weight: bold;
  margin-bottom: 15px; /* Increased margin-bottom for better separation */
}

.section-content {
  display: flex;
  flex-wrap: wrap;
}

.skill-icon {
  background-color: #6ea1e6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #ffffff; /* Text color for skill icon */
  word-wrap: break-word; /* Allow text to wrap within the skill icon */
  white-space: normal; /* Allow line breaks within the skill icon */
}

.contact-section {
  display: flex;
  align-items: center;
}

.left-side {
  flex: 0 0 auto;
}

.right-side {
    
  flex: 1 1 auto;
}

.photo-container {
  position: relative;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.contact-details {
  margin-left: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.symbolic-image {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.symbolic-image img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.symbolic-image span {
  font-weight: bold;
}

.contact-info .symbolic-image:last-child {
  margin-bottom: 0;
}

/* Added CSS for the qualification table */
table {
    width: calc(100% - 40px); /* Subtracting the left and right padding of the section */
    margin: 10px;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
  }
  

@media (max-width: 480px) {
  .skill-icon {
    padding: 5px;
    margin-right: 5px;
  }
}

.section h2:not(.resume-heading) {
  background-color: #6ea1e6;
  padding: 5px;
  font-weight: bold;
  color: #ffffff; /* Text color for section heading */
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    margin: 5px; /* Adjust margin for smaller screens */
    border-width: 5px; /* Adjust border width for smaller screens */
  }

  .section {
    margin-bottom: 20px; /* Decreased margin-bottom for smaller screens */
  }

  .profile-pic {
    width: 150px; /* Decreased profile picture size for smaller screens */
    height: 150px;
  }

  .contact-info {
    margin-left: 10px; /* Decreased margin for smaller screens */
  }

  .skill-icon {
    padding: 5px 8px; /* Adjusted padding for smaller screens */
    margin-right: 5px;
  }
}

